<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Wordpress vault is a service to prevent Wordpress from being hacked.
                                      It does this by securly locking it to make WordPress more secure.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karma Computing Vault</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
  {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p class="alert alert-info" role="alert">
                    {{ message }}
                    </p>
               {% endfor %}  
         {% endif %}  
  {% endwith %}  
  <div class="container mb-4 px-4">
    <div class="row">
      <div class="col">
        <h1 class="display-4 mt-4">Karma WordPress Vault</h1>
        <p class="lead">Lock and un-lock your secured WordPress site.</p>


        <form method="POST" action="/unlock">
        <div class="form-group">
          <label for="unlock-websiteURL">Website</label>
          <input name="websiteURL" id="unlock-websiteURL" placeholder="your-website.com" class="form-control" required />
          <br />
          <br />
          <label for="username">Username</label>
          <input name="username" id="username" class="form-control" required />
          <br />
          <label for="password"> Password</label>
          <input name="password" id="password" type="password" class="form-control"required  />
          <br />
          <br />
          <button class="btn btn-danger" type="submit" id="unlock"> Unlock </button>
        </div>
        </form>

        <form method="POST" action="/lock">
        <div class="form-group">
          <br />
          <br />
          <p class="lead">To lock your site manually you will only need the name of your website and press the lock button. </p>
          <label for="lock-websiteURL">Website</label>
          <input name="websiteURL" id="lock-websiteURL" placeholder="your-website.com" class="form-control" required />
          <br />
          <br />
          <button class="btn btn-success">Lock</button>
        </div>
        </form>
      </div><!-- end col -->
    </div><!-- end row -->

    <div class="row my-4">
      <div class="col">
        <h2>Don't have an account?</h2>
        <a href="{{ info_url }}" class="btn btn-success my-3">Secure my WordPress site</a>
      </div><!-- end col -->
    </div>
    
  </div><!-- end of container -->
  </body>
</html>

