<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Karma Computing Vault</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
  {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p class="alert alert-danger" role="alert">
                    <a href="{{ sign_up_url }}"> {{ message }}</a></P>
               {% endfor %}  
         {% endif %}  
  {% endwith %}  
  <div class="container">
    <h1 class="display-4">Karma WordPress Vault</h1>
    <p>Lock and un-lock your secured WordPress site.</p>


    <form method="POST" action="/unlock">
    <div class="form-group">
      <label id="websiteURL">Website</label>
      <input name="websiteURL" id="websiteURL" placeholder="your-website.com" class="form-control" required />
      <br />
      <br />
      <label id="username">Username</label>
      <input name="username" id="username" class="form-control" required /> 
      <br />
      <label id="password"> Password</label>
      <input name="password" id="password" type="password" class="form-control"required  />
      <br />
      <br />
      <button class="btn btn-danger" type="submit" id="unlock"> Unlock </button>
    </div>
    </form>

    <form method="POST" action="/lock">
    <div class="form-group">
      <br />
      <br />
      <p class="lead">To lock your site manually you will only need the name of your website and press the lock button. </p>
      <label id="websiteURL">Website</label>
      <input name="websiteURL" id="websiteURL" placeholder="your-website.com" class="form-control" required />
      <br />
      <br />
      <button class="btn btn-success">Lock</button>
    </div>
    
    </form>
    
  </div><!-- end of container -->
  </body>
</html>

